.menu {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #24292e;
    overflow-y: auto;
    z-index: 1;
    &_full {
        height: 100% !important;
    }
}
.menu__button {
    position: absolute;
    margin-left: 10px;
    text-decoration: none;
    font-size: 60px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    left: 0;
    top: -15px;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    user-select: none;
    &:hover {
        opacity: 0.5;
    }
}
.menu__list {
    margin: 65px 30px 30px 30px;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            margin-bottom: 30px;
            .menu__cover {
                width: 50px;
                height: 50px;
            }
            .menu__link {
                display: block;
                font-size: 25px;
                color: white;
                text-decoration: none;
            }
            .menu__link:hover, .menu__link_active {
                opacity: 0.5;
            }
        }
    }
    &_empty {
        display: none!important;
    }
}

.menu-btn {
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none;
    &_open {
        .menu-btn__burger {
            background: transparent;
            box-shadow: none;
        }
        .menu-btn__burger:before {
            transform: rotate(45deg);
        }
        .menu-btn__burger:after {
            transform: rotate(-45deg);
        }
    }
}
.menu-btn__burger {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    &:before, &:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    &:before {
        transform: translateY(-16px);
    }
    &:after {
        transform: translateY(16px);
    }
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: 60px;
        top: 0;
        margin-bottom: 20px;
        .menu__list {
            display: block;
        }
    }
}
