.menu {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #24292e;
    overflow-y: auto;
}
.menu__button {
    position: absolute;
    text-decoration: none;
    font-size: 60px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    left: 0;
    top: -15px;
    &:hover {
        opacity: 0.5;
    }
}
.menu__list {
    margin: 65px 30px 30px 30px;
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        li {
            margin-bottom: 15px;
            .menu__link {
                display: block;
                font-size: 25px;
                color: white;
                text-decoration: none;
            }
            .menu__link:hover, .menu__link_active {
                opacity: 0.5;
            }
        }
    }
}
.menu__cover {
    width: 50px;
    height: 50px;
}
