.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin: 0 1% 0 21%;
    height: 100vh;
}
.gallery__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    user-select: none;
    &_empty {
        display: none;
    }
    .gallery__photo:hover {
        opacity: 0.4;
    }
}
@media screen and (max-width: 768px) {
    .gallery {
        margin: 0 20px 0 20px;
        padding: 0;
    }
    .gallery__list {
        overflow: auto;
        margin-top: 60px;
        padding-top: 20px;
    }
}
