.menu-btn {
  position: absolute;
  right: 0;
  margin-right: 30px;
  display: flex;
  align-items: center;
  width: 45px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 45px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn_open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
.menu-btn_open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.menu-btn_open .menu-btn__burger::after {
  transform: rotate(-45deg);
}
